name: Check if release needed

on:
  workflow_call:
    inputs:
      os:
        description: OS to build products on
        required: false
        type: string
        default: ubuntu-latest
      tracked-files:
        description: The files on which changes tracked and based on change actions are run
        required: false
        type: string
        default: |
          Sources/**/*
          Package*.swift
    outputs:
      release:
        description: "Whether release is needed or not"
        value: ${{ jobs.ci.outputs.release }}

jobs:
  ci:
    name: Check if release needed
    runs-on: ${{ inputs.os }}
    outputs:
      release: ${{ steps.check_version_bump.outputs.release_type != '' }}

    steps:
    - name: Check should proceed running steps
      id: precondition
      uses: SwiftyLab/ci/actions/condition@main
      with:
        files: ${{ inputs.tracked-files }}

    - name: Check version bump
      if: steps.precondition.outputs.proceed == 'true'
      id: check_version_bump
      uses: mathieudutour/github-tag-action@v6.2
      with:
        github_token: ${{ github.token }}
        default_bump: false
        dry_run: true

    - name: Setup repository
      if: steps.precondition.outputs.proceed == 'true' && steps.check_version_bump.outputs.release_type == ''
      uses: SwiftyLab/ci/actions/setup@main

    - name: Build package documentation
      if: steps.precondition.outputs.proceed == 'true' && steps.check_version_bump.outputs.release_type == ''
      run: |
        swift build -Xswiftc -emit-symbol-graph -Xswiftc -emit-symbol-graph-dir -Xswiftc .build
        npm run serve-doc

    - name: Update GitHub Pages
      if: steps.precondition.outputs.proceed == 'true' && steps.check_version_bump.outputs.release_type == ''
      uses: JamesIves/github-pages-deploy-action@v4.7.3
      with:
          branch: gh-pages
          folder: .docc-build
          target-folder: docs
          clean: false
          commit-message: 'chore(GitHub Pages): update site for commit ${{ github.sha }}'
